# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\Copac Projects\giupviec_be\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
